#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_27 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_28 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-18ffa535-d639-441c-a25e-ac863ebfeb5e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}