#s-239de459-df46-4f0c-af4d-1f38a3b373b5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_4 {
  position: absolute;
  width: 361px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 42px;
  font-size: 22.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_4 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_4 > .paddingLayer {
  height: 50px;
  width: 361px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 22.0pt;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_1 {
  position: absolute;
  width: 835px;
  height: 606px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_1 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_1 > .paddingLayer {
  height: 606px;
  width: 835px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Group_2 {
  position: absolute;
  width: 994px;
  height: 70px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_4 {
  position: absolute;
  width: 1px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_4 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_4 > .paddingLayer {
  height: 70px;
  width: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4A86E8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_5 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_5 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_5 > .paddingLayer {
  height: 43px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_27 > svg {
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_27 {
  position: absolute;
  width: 69px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_27 > img, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_27 > svg {
  height: 69px;
  width: 69px;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_3 {
  position: absolute;
  width: 485px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_3 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_3 > .paddingLayer {
  height: 90px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_28 > svg {
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_28 {
  position: absolute;
  width: 69px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_28 > img, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_28 > svg {
  height: 69px;
  width: 69px;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_29 > svg {
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_29 {
  position: absolute;
  width: 69px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_29 > img, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_29 > svg {
  height: 69px;
  width: 69px;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_30 > svg {
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_30 {
  position: absolute;
  width: 69px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_30 > img, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Image_30 > svg {
  height: 69px;
  width: 69px;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_5 {
  position: absolute;
  width: 485px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_5 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_5 > .paddingLayer {
  height: 90px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_6 {
  position: absolute;
  width: 485px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_6 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_6 > .paddingLayer {
  height: 90px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_7 {
  position: absolute;
  width: 485px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_7 > .clipping, #s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_7 > .paddingLayer {
  height: 90px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-239de459-df46-4f0c-af4d-1f38a3b373b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}