#s-302521ce-eeb8-449d-902b-289101f8a610 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Group_1 {
  position: absolute;
  width: 980px;
  height: 430px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_1 {
  position: absolute;
  width: 980px;
  height: 430px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_1 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_1 > .paddingLayer {
  height: 430px;
  width: 980px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_99 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_99 {
  position: absolute;
  width: 72px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_99 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_99 > svg {
  height: 54px;
  width: 72px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_100 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_100 {
  position: absolute;
  width: 72px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_100 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_100 > svg {
  height: 54px;
  width: 72px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_101 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_101 {
  position: absolute;
  width: 72px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_101 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_101 > svg {
  height: 54px;
  width: 72px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_102 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_102 {
  position: absolute;
  width: 72px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_102 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_102 > svg {
  height: 54px;
  width: 72px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_10 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_10 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_10 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_10 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_11 span#rtr-s-Rectangle_11_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_3 {
  position: absolute;
  width: 513px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_3 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_3 > .paddingLayer {
  height: 90px;
  width: 513px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_1 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_1 {
  position: absolute;
  width: 51px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_1 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_1 > svg {
  height: 32px;
  width: 51px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_9 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_9 {
  position: absolute;
  width: 37px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_9 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_9 > svg {
  height: 28px;
  width: 37px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_6 {
  position: absolute;
  width: 513px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_6 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_6 > .paddingLayer {
  height: 90px;
  width: 513px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_5 {
  position: absolute;
  width: 513px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_5 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_5 > .paddingLayer {
  height: 90px;
  width: 513px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_7 {
  position: absolute;
  width: 513px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_7 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_7 > .paddingLayer {
  height: 90px;
  width: 513px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_18 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_18 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_18 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_18 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_19 span#rtr-s-Rectangle_19_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_4 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_4 {
  position: absolute;
  width: 51px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_4 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_4 > svg {
  height: 32px;
  width: 51px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_11 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_11 {
  position: absolute;
  width: 37px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_11 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_11 > svg {
  height: 28px;
  width: 37px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_20 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_20 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_20 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_20 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_21 span#rtr-s-Rectangle_21_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_5 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_5 {
  position: absolute;
  width: 51px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_5 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_5 > svg {
  height: 32px;
  width: 51px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_12 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_12 {
  position: absolute;
  width: 37px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_12 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_12 > svg {
  height: 28px;
  width: 37px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Group_2 {
  position: absolute;
  width: 1024px;
  height: 90px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_5 {
  position: absolute;
  width: 1024px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_5 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_5 > .paddingLayer {
  height: 70px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_5 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FF9900;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_7 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_7 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_7 > .paddingLayer {
  height: 43px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_2 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_2 {
  position: absolute;
  width: 21px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_2 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_2 > svg {
  height: 24px;
  width: 21px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_103 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_103 {
  position: absolute;
  width: 72px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_103 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_103 > svg {
  height: 54px;
  width: 72px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_9 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_9 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_9 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_9 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_4 {
  position: absolute;
  width: 485px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_4 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_4 > .paddingLayer {
  height: 90px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-alertBox {
  position: absolute;
  width: 426px;
  height: 200px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_13 {
  position: absolute;
  width: 426px;
  height: 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_13 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_13 > .paddingLayer {
  height: 200px;
  width: 426px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_19 {
  position: absolute;
  width: 368px;
  height: 92px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 20.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_19 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_19 > .paddingLayer {
  height: 92px;
  width: 368px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_14 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FC0D1B;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_14 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_14 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_14 > .paddingLayer {
  height: 41px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_14 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_15 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #0080C0;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_15 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_15 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_15 > .paddingLayer {
  height: 41px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_15 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_6 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_6 {
  position: absolute;
  width: 45px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_6 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_6 > svg {
  height: 32px;
  width: 45px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-alertBox_1 {
  position: absolute;
  width: 426px;
  height: 200px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_16 {
  position: absolute;
  width: 426px;
  height: 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_16 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_16 > .paddingLayer {
  height: 200px;
  width: 426px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_20 {
  position: absolute;
  width: 368px;
  height: 92px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 20.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_20 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_20 > .paddingLayer {
  height: 92px;
  width: 368px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_17 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_17 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_17 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_17 > .paddingLayer {
  height: 41px;
  width: 158px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_17 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_7 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_7 {
  position: absolute;
  width: 45px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_7 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_7 > svg {
  height: 32px;
  width: 45px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_22 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_22 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_22 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_22 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 {
  position: absolute;
  width: 66px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 > .clipping, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 > .paddingLayer {
  height: 32px;
  width: 66px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Rectangle_23 span#rtr-s-Rectangle_23_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_8 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_8 {
  position: absolute;
  width: 51px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_8 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_8 > svg {
  height: 32px;
  width: 51px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_13 > svg {
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_13 {
  position: absolute;
  width: 37px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_13 > img, #s-302521ce-eeb8-449d-902b-289101f8a610 #s-Image_13 > svg {
  height: 28px;
  width: 37px;
  box-shadow: none;
}
#s-302521ce-eeb8-449d-902b-289101f8a610 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}