#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Paragraph {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4328e744-2fff-4fcd-bb74-34169535ccad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}