#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cbf057f-119f-4a0c-8e2f-58080390ca5e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}