#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-arrow_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fa7a64d-9f0b-4d78-a150-c98755f6105f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}