#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Paragraph {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f27742-dcb2-4a85-b5f1-b140b29e3ef7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}