#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Text_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_149 {
  -ms-transform: rotate(0.0deg);
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}