#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c #s-Image_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56c18c43-6600-4a9f-83c0-b2947ff0cd4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}