#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Paragraph {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Bg_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5823382d-a3c4-47d5-bea7-17df505f06bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}