#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc #s-Image_120 {
  -ms-transform: rotate(0.0deg);
}
#s-5c422a3d-926d-4080-9919-66c38e9b97fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}