#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Space {
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-624eea97-96f4-4528-abe1-4c5cb603bfde > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}