#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a351d25-64cb-41c2-b040-3649839db70f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}