#s-7d341265-aa84-4699-890f-34191e716163 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Paragraph {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Bg_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Bg_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Bg_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6DFD6F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6DFD6F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD6F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6DFD6F;
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Bg_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Bg_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0080C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0080C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0080C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0080C0;
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Bg_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0080C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0080C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0080C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0080C0;
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Image_156 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Image_157 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Image_158 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7d341265-aa84-4699-890f-34191e716163 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}