#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7da4086e-e16c-4917-ac48-9fd743369924 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}