#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 #s-Image_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8053a187-1a02-4a71-9031-ad2e3c3be441 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}