#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}