#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8570fe49-da42-46fa-834b-73d7bda72594 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}