#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860d3203-5135-493d-ad9a-ae06dd5b4935 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}