#s-8d9a6f32-021b-41ec-b215-311f79cef21a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 {
  position: absolute;
  width: 485px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 67px;
  font-size: 35.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 > .clipping, #s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 > .paddingLayer {
  height: 90px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
  line-height: 0px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_35 > svg {
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_35 {
  position: absolute;
  width: 124px;
  height: 137px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_35 > img, #s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_35 > svg {
  height: 137px;
  width: 124px;
  box-shadow: none;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_36 > svg {
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_36 {
  position: absolute;
  width: 124px;
  height: 137px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_36 > img, #s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_36 > svg {
  height: 137px;
  width: 124px;
  box-shadow: none;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #679868;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 {
  position: absolute;
  width: 250px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 > .clipping, #s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 > .paddingLayer {
  height: 77px;
  width: 248px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FD9927;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 {
  position: absolute;
  width: 258px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 > .clipping, #s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 > .paddingLayer {
  height: 83px;
  width: 256px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}