#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-8d9a6f32-021b-41ec-b215-311f79cef21a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}