#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}