#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-923a5a43-5e66-4b36-a8bb-9640081d8342 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}