#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Text_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Text_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9c2d7cab-93f8-4d1e-8406-fe4bb455789a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}