#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8147d76-ee1b-4d86-a342-4ab7e52a0a35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}