#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b669a10e-b8d1-4dc7-af55-c3d59102b43a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}