#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6c8f62b-3fdd-413c-b0b4-8e2777ffb689 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}