#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}