#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-arrow_1 {
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Text_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-eaa810cc-3fcd-4521-8348-133bd53d6fb1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}